@import "tailwindcss";
body{
    color:#c4cfde;
    background-color: #212428;
    position: relative;
  }
  

  @keyframes scrollCarousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    animation: scrollCarousel 20s linear infinite;
  }

.icon{
  background-color: black;
  border-radius: 10px;
  padding: 6px;
  box-shadow: 4px 4px 14px white;
}


.form input{
  background-color: #212428;
  border-radius: 10px;
  box-shadow: inset 2px 2px 6px black ,inset -2px -2px 6px black ;
  height: 3rem;
}

  